* {
    font-family: "Arial";
}
body {
    background-color: #0b2f12;
}

.login {
    margin: auto;
    width: 400px;
    padding: 20px;
    background: #fff;
}

.container {
    margin: 50px auto;
    width: 800px;
    padding: 20px;
    background: #fff;
}

.header {
    margin: -20px;
    margin-bottom: 0;
    background-color: #19842d;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
    padding-top: 20px;
    border-top: 1px solid black;
}

.menu {
    margin: -20px;
    margin-bottom: 0;
    padding: 0 20px;
    background-color: black;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    position: relative;
    float: left;
}
.menu ul li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #fff;
}
.menu ul li:hover {
    background: #333;
}
.menu ul li ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
}
.menu ul li:hover ul {
    visibility: visible;
    background: #333;
}
.menu ul ul li {
    float: none;
}
.menu ul ul li a:hover {
    background: #555;
}
.clear {
    clear: both;
}

.tabel {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}
.tabel td {
    border: 1px solid #000;
    padding: 10px;
}

input, select {
    padding: 10px;
    margin-bottom: 10px;
}
select[name=pengguna] {
    width: 100%;
}
.tombol, input[type=submit] {
    padding: 12px;
    display: inline-block;
    text-decoration: none;
    background: #126522;
    border: none;
    color: #fff;
    font-size: 13px;
}
.tombol:hover, input[type=submit]:hover {
    background: #19842d;
}

.notif {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: deepskyblue;
}